<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byx.work.team.dao.BugStateDAO">
    <resultMap type="com.byx.work.team.model.entity.BugState" id="BugStateMap">
        <id property="id" column="id" jdbcType="BIGINT" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="priority" column="priority" jdbcType="INTEGER" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
        <result property="enabled" column="enabled" jdbcType="INTEGER" />
        <result property="createdDate" column="created_date" jdbcType="BIGINT" />
        <result property="createdBy" column="created_by" jdbcType="BIGINT" />
        <result property="modifiedDate" column="modified_date" jdbcType="BIGINT" />
        <result property="modifiedBy" column="modified_by" jdbcType="BIGINT" />
        <result property="ip" column="ip" jdbcType="VARCHAR" />
        <result property="status" column="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
      `id`,
            `name`,
            `priority`,
            `remark`,
            `enabled`,
            `created_date`,
            `created_by`,
            `modified_date`,
            `modified_by`,
            `ip`,
            `status`
    </sql>

    <insert id="insert" parameterType="com.byx.work.team.model.entity.BugState">
        INSERT INTO t_bug_state (
            <include refid="Base_Column_List" />
        )VALUES(
            #{id},
            #{name},
            #{priority},
            #{remark},
            #{enabled},
            #{createdDate},
            #{createdBy},
            #{modifiedDate},
            #{modifiedBy},
            #{ip},
            <choose>
                <when test="status != null">#{status}</when>
                <otherwise>1</otherwise>
            </choose>
        )
    </insert>

    <insert id="insertList" parameterType="List">
        INSERT INTO t_bug_state (
            <include refid="Base_Column_List" />
        )VALUES
        <foreach collection="list" item="data" separator=",">
        (
            #{data.id},
            #{data.name},
            #{data.priority},
            #{data.remark},
            #{data.enabled},
            #{data.createdDate},
            #{data.createdBy},
            #{data.modifiedDate},
            #{data.modifiedBy},
            #{data.ip},
            <choose>
                <when test="data.status != null">#{data.status}</when>
                <otherwise>1</otherwise>
            </choose>
        )
        </foreach>
    </insert>

    <update id="update" parameterType="com.byx.work.team.model.entity.BugState">
        <![CDATA[
            UPDATE t_bug_state SET
                `name`=#{name}, 
                `priority`=#{priority},
                `remark`=#{remark},
                `enabled`=#{enabled}, 
                `ip`=#{ip}, 
                `modified_by`=#{modifiedBy},
                `modified_date`=#{modifiedDate}
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status != null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
        </trim>
    </update>

    <update id="updatex" parameterType="Map">
        <![CDATA[
            UPDATE t_bug_state SET
        ]]>
        <foreach collection="datas.keys" item="key" separator=","
            open=" " close=" ">
            <if test="key != null">
                `${key}`= #{datas[${key}]}
            </if>
        </foreach>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <foreach collection="conditions.keys" item="key" separator=" AND "
                open="AND">
                <if test="key != null">
                    `${key}`=#{conditions[${key}]}
                </if>
            </foreach>
        </trim>
    </update>

    <update id="delete" parameterType="Map">
        <![CDATA[
            UPDATE t_bug_state SET
                `status`=0,
                `modified_by`=#{modifiedBy},
                `modified_date`=#{modifiedDate}
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </update>

    <delete id="pdelete" parameterType="Map">
        <![CDATA[
            DELETE FROM t_bug_state
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </delete>

    <select id="count" parameterType="Map" resultType="Integer">
        <![CDATA[
            SELECT COUNT(*) FROM t_bug_state
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </select>

    <select id="selectOne" parameterType="Map" resultMap="BugStateMap">
        SELECT <include refid="Base_Column_List" /> FROM t_bug_state
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        LIMIT 0,1
    </select>

    <select id="select" parameterType="Map" resultMap="BugStateMap">
        SELECT <include refid="Base_Column_List" /> FROM t_bug_state
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                <![CDATA[
                    ${sc.field} ${sc.order}
                ]]>
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex},${pc.pageSize}
        </if>
    </select>
    
    <select id="selectMap" parameterType="Map" resultType="Map">
        SELECT
        <foreach collection="columns" item="cname" separator=","  open="`" close="`">
            <![CDATA[
                ${cname}
            ]]>
        </foreach>
         FROM t_bug_state
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                <![CDATA[
                    ${sc.field} ${sc.order}
                ]]>
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex},${pc.pageSize}
        </if>
    </select>

    <!--统计相关查询-->
    <select id="groupCount" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM  t_bug_state 
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        GROUP BY `group` 
        ORDER BY `group` ASC
    </select>
    
    <select id="sum" parameterType="Map" resultType="Double">
        <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM  t_bug_state  
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </select>
    
    <select id="groupSum" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum`  FROM  t_bug_state  
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="priority != null">
                AND `priority` = #{priority}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="remark != null">
                AND `remark` = #{remark}
            </if>
            <if test="enabled != null">
                AND `enabled` = #{enabled}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        GROUP BY `group` 
        ORDER BY `group` ASC
    </select>
</mapper>