<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.byx.work.team.dao.FunctionDAO">
    <resultMap type="com.byx.work.team.model.entity.Function" id="FunctionMap">
        <id property="id" column="id" jdbcType="BIGINT" />
        <result property="projectId" column="project_id" jdbcType="BIGINT" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="desc" column="desc" jdbcType="VARCHAR" />
        <result property="currentStateId" column="current_state_id" jdbcType="BIGINT" />
        <result property="currentStateName" column="current_state_name" jdbcType="VARCHAR" />
        <result property="devStartTime" column="dev_start_time" jdbcType="BIGINT" />
        <result property="devPerson" column="dev_person" jdbcType="BIGINT" />
        <result property="testStartTime" column="test_start_time" jdbcType="BIGINT" />
        <result property="testPerson" column="test_person" jdbcType="BIGINT" />
        <result property="deployStartTime" column="deploy_start_time" jdbcType="BIGINT" />
        <result property="deployPerson" column="deploy_person" jdbcType="BIGINT" />
        <result property="deadline" column="deadline" jdbcType="BIGINT" />
        <result property="createdBy" column="created_by" jdbcType="BIGINT" />
        <result property="createdDate" column="created_date" jdbcType="BIGINT" />
        <result property="modifiedBy" column="modified_by" jdbcType="BIGINT" />
        <result property="modifiedDate" column="modified_date" jdbcType="BIGINT" />
        <result property="ip" column="ip" jdbcType="VARCHAR" />
        <result property="status" column="status" jdbcType="INTEGER" />
    </resultMap>

    <sql id="Base_Column_List">
            `id`,
            `project_id`,
            `name`,
            `desc`,
            `current_state_id`,
            `current_state_name`,
            `dev_start_time`,
            `dev_person`,
            `test_start_time`,
            `test_person`,
            `deploy_start_time`,
            `deploy_person`,
            `deadline`,
            `created_by`,
            `created_date`,
            `modified_by`,
            `modified_date`,
            `ip`,
            `status`
    </sql>

    <insert id="insert" parameterType="com.byx.work.team.model.entity.Function">
        INSERT INTO t_function (
            <include refid="Base_Column_List" />
        )VALUES(
            #{id},
            #{projectId},
            #{name},
            #{desc},
            #{currentStateId},
            #{currentStateName},
            #{devStartTime},
            #{devPerson},
            #{testStartTime},
            #{testPerson},
            #{deployStartTime},
            #{deployPerson},
            #{deadline},
            #{createdBy},
            #{createdDate},
            #{modifiedBy},
            #{modifiedDate},
            #{ip},
            <choose>
                <when test="status != null">#{status}</when>
                <otherwise>1</otherwise>
            </choose>
        )
    </insert>

    <insert id="insertList" parameterType="List">
        INSERT INTO t_function (
            <include refid="Base_Column_List" />
        )VALUES
        <foreach collection="list" item="data" separator=",">
        (
            #{data.id},
            #{data.projectId},
            #{data.name},
            #{data.desc},
            #{data.currentStateId},
            #{data.currentStateName},
            #{data.devStartTime},
            #{data.devPerson},
            #{data.testStartTime},
            #{data.testPerson},
            #{data.deployStartTime},
            #{data.deployPerson},
            #{data.deadline},
            #{data.createdBy},
            #{data.createdDate},
            #{data.modifiedBy},
            #{data.modifiedDate},
            #{data.ip},
            <choose>
                <when test="data.status != null">#{data.status}</when>
                <otherwise>1</otherwise>
            </choose>
        )
        </foreach>
    </insert>

    <update id="update" parameterType="com.byx.work.team.model.entity.Function">
        <![CDATA[
            UPDATE t_function SET
                `project_id`=#{projectId}, 
                `name`=#{name}, 
                `desc`=#{desc}, 
                `current_state_id`=#{currentStateId}, 
                `current_state_name`=#{currentStateName}, 
                `dev_start_time`=#{devStartTime}, 
                `dev_person`=#{devPerson},
                `test_start_time`=#{testStartTime},
                `test_person`=#{testPerson},
                `deploy_start_time`=#{deployStartTime},
                `deploy_person`=#{deployPerson},
                `deadline`=#{deadline},
                `ip`=#{ip}, 
                `modified_by`=#{modifiedBy},
                `modified_date`=#{modifiedDate}
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status != null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
        </trim>
    </update>

    <update id="updatex" parameterType="Map">
        <![CDATA[
            UPDATE t_function SET
        ]]>
        <foreach collection="datas.keys" item="key" separator=","
            open=" " close=" ">
            <if test="key != null">
                `${key}`= #{datas[${key}]}
            </if>
        </foreach>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <foreach collection="conditions.keys" item="key" separator=" AND "
                open="AND">
                <if test="key != null">
                    `${key}`=#{conditions[${key}]}
                </if>
            </foreach>
        </trim>
    </update>

    <update id="delete" parameterType="Map">
        <![CDATA[
            UPDATE t_function SET
                `status`=0,
                `modified_by`=#{modifiedBy},
                `modified_date`=#{modifiedDate}
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </update>

    <delete id="pdelete" parameterType="Map">
        <![CDATA[
            DELETE FROM t_function
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </delete>

    <select id="count" parameterType="Map" resultType="Integer">
        <![CDATA[
            SELECT COUNT(*) FROM t_function
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </select>

    <select id="countAll" parameterType="Map" resultType="Integer">
        SELECT COUNT(*) FROM t_function func LEFT OUTER JOIN t_function_state_history tfsh
        ON func.id = tfsh.function_id and func.current_state_id = tfsh.function_state_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null">status = #{status}</when>
                <otherwise><![CDATA[func.status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND func.id = #{id}
            </if>
            <if test="projectId != null">
                AND func.`project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND func.`name` LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="desc != null">
                AND func.`desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND func.`current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND func.`current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND func.`dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND func.`test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND func.`deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND func.`deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND func.`ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND func.`created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND func.`created_date` LIKE CONCAT(#{date},'%')
            </if>
            <if test="assigner != null">
                AND tfsh.`assigner` = #{assigner}
            </if>
        </trim>
    </select>

    <select id="selectOne" parameterType="Map" resultMap="FunctionMap">
        SELECT <include refid="Base_Column_List" /> FROM t_function
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        LIMIT 0,1
    </select>

    <select id="select" parameterType="Map" resultMap="FunctionMap">
        SELECT <include refid="Base_Column_List" /> FROM t_function
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                <![CDATA[
                    ${sc.field} ${sc.order}
                ]]>
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex},${pc.pageSize}
        </if>
    </select>

    <select id="selectAll" parameterType="Map" resultType="com.byx.work.team.model.dto.FunctionDTO">
        SELECT
        func.`id`,
        func.`project_id`,
        func.`name`,
        func.`desc`,
        func.`current_state_id`,
        func.`current_state_name`,
        func.`dev_start_time`,
        func.`dev_person`,
        func.`test_start_time`,
        func.`test_person`,
        func.`deploy_start_time`,
        func.`deploy_person`,
        func.`deadline`,
        func.`created_by`,
        func.`created_date`,
        func.`modified_by`,
        func.`modified_date`,
        func.`ip`,
        func.`status`,
        tfsh.assigner
        FROM t_function func LEFT OUTER JOIN t_function_state_history tfsh
        ON func.id = tfsh.function_id and func.current_state_id = tfsh.function_state_id
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null">status = #{status}</when>
                <otherwise><![CDATA[func.status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND func.id = #{id}
            </if>
            <if test="projectId != null">
                AND func.`project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND func.`name` LIKE CONCAT('%', #{name},'%')
            </if>
            <if test="desc != null">
                AND func.`desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND func.`current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND func.`current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND func.`dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND func.`dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND func.`test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND func.`test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND func.`deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND func.`deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND func.`deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND func.`ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND func.`created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND func.`created_date` LIKE CONCAT(#{date},'%')
            </if>
            <if test="assigner != null">
                AND tfsh.`assigner` = #{assigner}
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                <![CDATA[
                    ${sc.field} ${sc.order}
                ]]>
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex},${pc.pageSize}
        </if>
    </select>
    
    <select id="selectMap" parameterType="Map" resultType="Map">
        SELECT
        <foreach collection="columns" item="cname" separator=","  open="`" close="`">
            <![CDATA[
                ${cname}
            ]]>
        </foreach>
         FROM t_function
        <trim prefix="WHERE" prefixOverrides="AND|OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        <if test="scs != null and scs.size() > 0">
            ORDER BY
            <foreach collection="scs" item="sc" separator=",">
                <![CDATA[
                    ${sc.field} ${sc.order}
                ]]>
            </foreach>
        </if>
        <if test="pc != null">
            LIMIT ${pc.startIndex},${pc.pageSize}
        </if>
    </select>

    <!--统计相关查询-->
    <select id="groupCount" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, COUNT(DISTINCT id) AS `count` FROM  t_function 
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        GROUP BY `group` 
        ORDER BY `group` ASC
    </select>
    
    <select id="sum" parameterType="Map" resultType="Double">
        <![CDATA[
            SELECT IFNULL(SUM(${sumfield}),0) AS `sum` FROM  t_function  
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
    </select>
    
    <select id="groupSum" parameterType="Map" resultType="Map">
        <![CDATA[
            SELECT ${group} AS `group`, IFNULL(SUM(${sumfield}),0) AS `sum`  FROM  t_function  
        ]]>
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            <choose>
                <when test="status !=null ">status = #{status}</when>
                <otherwise><![CDATA[status > 0]]></otherwise>
            </choose>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="projectId != null">
                AND `project_id` = #{projectId}
            </if>
            <if test="name != null">
                AND `name` = #{name}
            </if>
            <if test="desc != null">
                AND `desc` = #{desc}
            </if>
            <if test="currentStateId != null">
                AND `current_state_id` = #{currentStateId}
            </if>
            <if test="currentStateName != null">
                AND `current_state_name` = #{currentStateName}
            </if>
            <if test="devStartTime != null">
                AND `dev_start_time` = #{devStartTime}
            </if>
            <if test="devPerson != null">
                AND `dev_person` = #{devPerson}
            </if>
            <if test="testStartTime != null">
                AND `test_start_time` = #{testStartTime}
            </if>
            <if test="testPerson != null">
                AND `test_person` = #{testPerson}
            </if>
            <if test="deployStartTime != null">
                AND `deploy_start_time` = #{deployStartTime}
            </if>
            <if test="deployPerson != null">
                AND `deploy_person` = #{deployPerson}
            </if>
            <if test="deadline != null">
                AND `deadline` = #{deadline}
            </if>
            <if test="ip != null">
                AND `ip` = #{ip}
            </if>
            <if test="start != null  and  end != null">
                AND `created_date` BETWEEN  #{start} AND #{end}
            </if>
            <if test="date != null">
                AND `created_date` LIKE CONCAT(#{date},'%')
            </if>
        </trim>
        GROUP BY `group` 
        ORDER BY `group` ASC
    </select>

    <select id="statStateCount" parameterType="java.util.Map" resultType="com.byx.work.team.model.dto.CommDTO">
        SELECT count(fs.name) AS `value`, fs.name AS `name` FROM t_function func RIGHT OUTER JOIN t_function_state fs ON func.current_state_id = fs.id
        WHERE func.status > 0 AND fs.status > 0
        <if test="projectId != null">
            AND func.project_id = #{projectId}
        </if>
        GROUP BY fs.name
    </select>
</mapper>